<!DOCTYPE html>
<html>
  <!-- Head -->
  <%- partial('_partial/head') %>
  <!-- Body -->
  <body>
    <div id="app" class="columns">
      <div class="column is-full-mobile is-8-desktop is-offset-2-desktop">
        <!-- Navbar -->
        <%- partial('_partial/nav') %>
        <!-- Sidebar -->
        <div class="column is-one-quarter is-hidden-touch">
          <%- partial('_partial/sidebar.ejs') %>
        </div>
      </div>
    </div>
  </body>
</html>
