<!DOCTYPE html>
<html>
  <!-- Head -->
  <%- partial('_partial/head') %>
  <!-- Body -->
  <body>
    <div id="app" class="columns">
      <div class="column is-full-mobile is-8-desktop is-offset-2-desktop">
        <!-- Banner -->
        <%- partial('_partial/banner') %>
      </div>
    </div>
  </body>
</html>
