<div class="container">
  <div class="widget">
    <div class="widget-header">
      <span><%= __('about') %></span>
    </div>
    <div class="is-size-7 widget-body">
      <p>TechCon.io is a simple website that lists the many tech conferences in the world in one convenient, searchable website.</p>
    </div>
  </div>
  <div class="widget">
    <div class="widget-header">
      <span><%= __('tags') %></span>
    </div>
    <div class="is-size-6">
      <%- tagcloud({max_font: 16}) %>
    </div>
  </div>
</div>
