global-reset()

#app
  padding-top: 0

// Sidebar widgets
.widget
  padding-bottom: 10px

.widget-header
  border-bottom: double

.widget-body
  margin: 5px 0 5px 0

// Conference tags summary
ul.conference-tags-list
  display: inline-block
  margin: 0
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
  -webkit-padding-start: 0px;

li.conference-tags-list-item
  color: color-grey
  display: inline
  margin-left: 8px

// Tags page
span.tag-list-count:before
  content: ' ('
span.tag-list-count:after
  content: ')'

// Misc
.conference-links
  margin-right: 5px
.page-header
  padding-bottom: 10px
.ins-icon
  margin-right: 5px

@import "_partial/insight"
